<div class="converter-card">
  <h2 class="converter-title">Currency Converter</h2>

  <form [formGroup]="form" class="converter-form">
    <div class="form-row">
      <div class="field">
        <input
          type="number"
          formControlName="baseAmount"
          (focus)="activeField.set('base')"
        />
      </div>
      <div class="vertical-line"></div>
      <div class="field">
        <select formControlName="base">
          @for (c of filteredBaseCurrencies; track c.key) {
            <option [value]="c.key">{{ c.label }}</option>
          }
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="field">
        <input
          type="number"
          formControlName="targetAmount"
          (focus)="activeField.set('target')"
        />
      </div>
      <div class="vertical-line"></div>

      <div class="field">
        <select formControlName="target">
          @for (c of filteredTargetCurrencies; track c.key) {
            <option [value]="c.key">{{ c.label }}</option>
          }
        </select>
      </div>
    </div>

    <p class="rate-summary">
      1 {{ form.value.base }} = {{ getRate(form.value.base, form.value.target) }} {{ form.value.target }}
    </p>

    <p class="updated-time">
      Updated: {{ relativeUpdateTime() }}
    </p>
  </form>
</div>
