:host {
  --primary: #dae6f9;
  --secondary: #03dac6;
  --background: #0d2853;
  --surface: #2b3d6a;

  --border-radius: 10px;
  --padding: 2rem;
  --font-family: 'Roboto', sans-serif;
  --input-height: 3rem;
  --font-size: 1rem;
  --field-gap: 0.25rem;
}

$primary-color: var(--primary);
$secondary-color: var(--secondary);
$background-color: var(--background);
$surface-color: var(--surface);

$border-radius: var(--border-radius);
$padding: var(--padding);
$font-family: var(--font-family);
$input-height: var(--input-height);
$font-size: var(--font-size);
$field-gap: var(--field-gap);

.converter-card {
  background-color: $background-color;
  color: $primary-color;
  padding: $padding;
  border-radius: $border-radius;
  max-width: 520px;
  margin: auto;
  font-family: $font-family;
}

.converter-title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.converter-empty{
  text-align: center;
  color: $secondary-color;
}
.converter-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  gap: 1px;
  background-color: $surface-color;
  border-radius: $border-radius;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $field-gap;
}

input,
select {
  padding: 0.75rem 1rem;
  padding-right: 2rem;
  border-radius: $border-radius;
  border: none;
  background-color: $surface-color;
  color: $primary-color;
  font-size: $font-size;
  width: 100%;
  line-height: 1.2;
  height: $input-height;
  box-sizing: border-box;
  appearance: none;
  transition: background 0.3s, outline 0.2s;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

input:focus,
select:focus {
  outline: 2px solid $secondary-color;
}

.select-wrapper {
  position: relative;

  select {
    appearance: none;
    padding-right: 2rem;
  }

  .select-arrow {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: $primary-color;
  }
}

.rate-summary {
  margin-top: 1rem;
  color: $secondary-color;
  font-weight: 500;
}

.updated-time {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: $primary-color;
}

.vertical-line {
  width: 1px;
  background: $primary-color;
  opacity: 0.2;
}
